- @conference.questions.each do |q|

  %b Q:
  = q.title

  %b A:
  - registration.qanswers.where(question_id: q.id).each do |qa|
    - if qa.qanswers_registrations.where(:registration => registration.id).first.textarea.present?
      = qa.qanswers_registrations.where(:registration => registration.id).first.textarea
    - else
      = qa.answer.title
  %br
